.container{
    background-color: red;
}
.containerInput{
    background-color: green;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputMotus{
    width: 68px;
    height: 68px;
    font-size:68px;
    text-align:center;
    margin: 10px;
    border: none;
}